.data {
  font-size: var(--fs-small);
  display: flex;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.centerStyle {
  color: var(--light-blue);
  font-size: var(--fs-mid);
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}