.no-left-padding {
  padding-left: 0;
}

.list-style {
  color: var(--text-color);
  font-size: var(--fs-mid);
  text-align: center;
  margin: 0;
  list-style-type: none;
}

.city-button-style {
  background-color: transparent;
  border: none;
  padding: 0;
}

.add-button-style {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 4rem;
    cursor: pointer;
    color: #4CAF50;
    transition: transform 0.2s ease; /* Add a transform transition */
}

/* Add a hover effect to the button */
.add-button-style:hover {
  transform: scale(1.3); /* Increase the size on hover */
  color: #3e8e41;
}

/* Add a pressed effect to the button */
.add-button-style:active {
  transform: scale(0.9); /* Decrease the size when pressed */
}